<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/show.css">
    <title>Document</title>
</head>
<body>

    <h2>All the major events of </h2>

        <div>

            <% for(let Blog of allListing) { %>
                
                    <h2 style="color:red"><%=Blog.month%> / <%=Blog.month%> / <%=Blog.year%></h2>

                    <h2 style="color:red">
                        <% for(let i=0;i<Blog.text.length;i++) { %>
                            <div>
                                <%= [i+1] %><%= Blog.text[i]%>
                            </div>
                        <%}%>
                    </h2>
                <%}%>
        </div>
    
</body>
</html>