<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Available Tests</title>
</head>
<body>
  

<div id="main">
    
    <p>test id <%= id %></p>

    <div id="content-div">
    <div>
      <% tests.forEach(test => { %>
       <div class="cookieCard">
             <h4 class="cookieHeading"><%= test.title %></h4>
             <div>
             <span class="cookieDescription">Questions<%= test.questions.length %></span><span class="cookieDescription"> &nbsp| Marks:<%= test.questions.length*4 %></span>
             <form action="/create/<%= test._id %>/<%=id %>" method="POST">
                <button>Include</button>
             </form>
             </div>
             <button id="deleteButton" data-id="<%= test._id %>">Delete</button>
        </div>
      <% }) %>
    </div>  
  </div> 
</div>

</body>
</html>
