<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/student.css">
    <style>
      #thumbnail-img{
        width: 100%;
      }
    </style>
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
           <%- include("../components/student/sidebar.ejs") %>
        </div>

        <!-- Main Content -->
        <div class="main-content">
            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>

            <div class="enrolled-courses">
            <% allBatches.forEach(batch => { %>
              <div class="card1">
                <img id="thumbnail-img" src="<%=batch.thumbnail%>" alt="">
                   <span class="card-int__title"><%=batch.title%> |</span>
                   <span class="card-int__title">Class:<%=batch.class%></span>
                    &nbsp;
                    <a href="/showbatch/<%=batch._id%>"><button class="view-button">Open</button></a>
              </div>
          <% }) %>
            </div>


        </div>
    </div>

    <!-- Footer Navigation for Mobile -->
    <div class="footer-nav">
      <%- include("../components/student/footer.ejs") %>
    </div>
</body>
</html>
