  <div class="unique-container">
   <div class="unique-header">
    <h1>
     Top Recommended Batches
    </h1>
    <p>
     Let's start with these popular batches
    </p>
   </div>
   
   <div class="unique-card-container">

      <% allBatches.forEach(batch => { %>
          <div class="unique-card">
           <img alt="Prayas JEE 90 days Crash Course 2025" height="150" src="<%=batch.thumbnail%>" width="300"/>
           <div class="unique-title">
            <%=batch.title%>
           </div>
          
           <div class="unique-details">
            <div class="unique-icon-text">
             <i class="fas fa-calendar-alt">
             </i>
             <span>
              Starts on 21 Oct, 2024 | Ends on 30 Jun, 2025
             </span>
            </div>
           </div>
           <div class="unique-price">
            ₹<%=batch.amount%>
            <del>
             ₹<%=batch.amount*2%>
            </del>
           </div>
           <div class="unique-discount">
            <i class="fas fa-tag">
            </i>
            <span>
             Discount of 50% applied
            </span>
           </div>
           <div class="unique-buttons">
            <button class="unique-explore">
             EXPLORE
            </button>

            <%  
            const idd = batch._id;
            const purchased = currUser.purchasedBatches.includes(idd);
             %>
        
        <% if (purchased) { %>
            <button class="unique-buy-now">
                <a style="text-decoration: none; color: white;" href="/showbatch/<%= batch._id %>">Study</a>
            </button>
        <% } else { %>
            <form action="/free/<%= batch._id %>" method="POST">
              <button class="unique-buy-now"  style="width: 100px;">
                  Pay ₹<%= batch.amount %>
              </button>
            </form>
        <% } %>
        
                     
      </div>
     </div>
    <% }) %>
        
     
  </div>

    
   </div>